In [13]:
import pandas as pd
import numpy as np

In [14]:
#Carga de Datasets
amazon_titles_df = pd.read_csv('Datasets/amazon_prime_titles.csv',skipinitialspace = True)
disney_plus_titles = pd.read_csv('Datasets/disney_plus_titles.csv')
hulu_titles = pd.read_csv('Datasets/hulu_titles.csv')
netflix_titles = pd.read_json('Datasets/netflix_titles.json')

In [15]:
#Limpieza de del Dataset de titulos de Amazon

print(amazon_titles_df.isna().sum()) #Cantidad de nulos por columna
print('')
print('Longitud Dataframe: ',len(amazon_titles_df))

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

Longitud Dataframe:  9668

In [16]:
#Se quita el caracter 's' de la columna id, dejando solo números.

amazon_titles_df['show_id'] = amazon_titles_df['show_id'].apply(lambda x: x.split('s')[1])

In [17]:
#Vemos cuales son los valores que pueden llegar a aparecer en la columna 'type'

amazon_titles_df.type.value_counts()

Movie      7814
TV Show    1854
Name: type, dtype: int64

In [18]:
amazon_titles_df.title = amazon_titles_df.title.str.title()

In [19]:
#Creacion de una tabla con todos los directores y su respectivo ID

amazon_titles_df.director.fillna('Sin Dato', inplace=True)

directors_amazon = []

for directors in amazon_titles_df.director:
    directors_split = directors.split(',')
    for splited_directors in directors_split:
        directors_amazon.append(splited_directors)

all_directors_amazon = pd.Series(directors_amazon)
all_directors_amazon= pd.unique(all_directors_amazon)
all_directors_amazon_df = pd.DataFrame({'IdDirector': np.arange(len(all_directors_amazon)), 'Director Name': all_directors_amazon})
all_directors_amazon_df.set_index('IdDirector',inplace=True)
all_directors_amazon_df

                 Director Name
IdDirector
0                 Don McKellar
1                 Girish Joshi
2                  Josh Webber
3               Sonia Anderson
4                 Giles Foster
...                        ...
6272           Lori Silverbush
6273        John-Paul Davidson
6274           Stephen Warbeck
6275                Emily Skye
6276              Steve Barker

[6277 rows x 1 columns]

In [20]:
#Creacion de una tabla con todos los actores y su respectivo ID

amazon_titles_df.cast = amazon_titles_df.cast.str.strip()
amazon_titles_df.cast = amazon_titles_df.cast.str.title()
amazon_titles_df.cast = amazon_titles_df.cast.replace(np.nan,'Sin Dato')

all_cast_amazon = []

for cast in amazon_titles_df.cast:
    splited_cast = cast.split(',')
    for complete_cast in splited_cast:
        all_cast_amazon.append(complete_cast)

all_cast_amazon = pd.Series(all_cast_amazon)
all_cast_amazon = pd.unique(all_cast_amazon)
all_cast_amazon_df = pd.DataFrame({'IdActor': np.arange(len(all_cast_amazon)), 'Actor Name': all_cast_amazon})
all_cast_amazon_df.set_index('IdActor', inplace=True)
all_cast_amazon_df

                   Actor Name
IdActor
0             Brendan Gleeson
1               Taylor Kitsch
2              Gordon Pinsent
3            Mahesh Manjrekar
4               Abhay Mahajan
...                       ...
33825            Rita Cortese
33826          Laura Esquivel
33827         Nicolás Furtado
33828     Nicolas Goldschmidt
33829           Joseph Gilgun

[33830 rows x 1 columns]

In [21]:
#Cambio de tipo de la columna a datetime

amazon_titles_df['date_added'] = pd.to_datetime(amazon_titles_df['date_added'])
amazon_titles_df['date_added']

0      2021-03-30
1      2021-03-30
2      2021-03-30
3      2021-03-30
4      2021-03-30
          ...
9663          NaT
9664          NaT
9665          NaT
9666          NaT
9667          NaT
Name: date_added, Length: 9668, dtype: datetime64[ns]

In [22]:
#Creacion de columna de generos de cine con sus respectivos ID

all_listed_in_amazon = []

for genre in amazon_titles_df.listed_in:
    separed_genre = genre.split(',')
    for all_genres_separed in separed_genre:
        all_listed_in_amazon.append(all_genres_separed)

all_listed_in_amazon_serie = pd.Series(all_listed_in_amazon)
all_listed_in_amazon_serie = pd.unique(all_listed_in_amazon_serie)
all_listed_in_df = pd.DataFrame({'IdGenre': np.arange(len(all_listed_in_amazon_serie)), 'Genre': all_listed_in_amazon_serie})
all_listed_in_df['Genre'] = all_listed_in_df['Genre'].str.strip()
all_listed_in_df.drop_duplicates(subset=['Genre'], inplace=True)
all_listed_in_df.IdGenre = np.arange(len(all_listed_in_df))
all_listed_in_df.set_index('IdGenre', inplace=True)
all_listed_in_df

                             Genre
IdGenre
0                           Comedy
1                            Drama
2                    International
3                           Action
4                         Suspense
5                      Documentary
6                          Fantasy
7                             Kids
8                 Special Interest
9                  Science Fiction
10                       Adventure
11                          Horror
12                          Sports
13           Talk Show and Variety
14                           Anime
15                            Arts
16                   Entertainment
17                     and Culture
18                        TV Shows
19                       Animation
20       Music Videos and Concerts
21                         Fitness
22          Faith and Spirituality
23                Military and War
24                         Western
25                           LGBTQ
26                         Romance
27                      Unscripted
28            Young Adult Audience
29                        Arthouse
30                      Historical

In [23]:
#Total de nulos después de la limpieza de datos de el primer .csv

amazon_titles_df.isna().sum()

show_id            0
type               0
title              0
director           0
cast               0
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [24]:
amazon_titles_df['platform'] = 'Amazon Prime'
amazon_titles_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon Prime
1,2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon Prime
2,3,Movie,Secrets Of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert Lasardo, R...",United States,2021-03-30,2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon Prime
3,4,Movie,Pink: Staying True,Sonia Anderson,"Interviews With: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon Prime
4,5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaT,1940,7+,60 min,Comedy,New York City street principles get an East Si...,Amazon Prime
9664,9665,TV Show,Planet Patrol,Sin Dato,"Dick Vosburgh, Ronnie Stevens, Libby Morris, M...",NaN,NaT,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",Amazon Prime
9665,9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaT,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",Amazon Prime
9666,9667,TV Show,Maradona: Blessed Dream,Sin Dato,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaT,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",Amazon Prime
9667,9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaT,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",Amazon Prime

In [25]:
#Comienzo a trabajar con el dataset de Disney+ viendo la cantidad de nulos que posee cada columna

disney_plus_titles.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [26]:
#Se limpia la columna show_id quitandole la 's' a los números

disney_plus_titles.show_id = np.arange(1,(len(disney_plus_titles)+1))

In [27]:
#Distribución de la columna 'type'

disney_plus_titles.type.value_counts()

Movie      1052
TV Show     398
Name: type, dtype: int64

In [28]:
#Se quitan los espacios de la columna title

disney_plus_titles.title = disney_plus_titles.title.str.strip()

In [29]:
#Se crea una tabla con los distintos directores que aparecieron en el dataframe de películas/series en Disney+

disney_plus_titles.director = disney_plus_titles.director.str.strip()
disney_plus_titles.director = disney_plus_titles.director.fillna('Sin Dato')

strip_directors_disney = []

for director in disney_plus_titles.director:
    strip_director = director.split(',')
    for striped_director in strip_director:
        strip_directors_disney.append(striped_director.strip())

strip_directors_disney = pd.Series(strip_directors_disney)
strip_directors_disney = pd.unique(strip_directors_disney)
strip_directors_disney_df = pd.DataFrame({'IdDirector': np.arange(len(strip_directors_disney)), 'Director': strip_directors_disney})
strip_directors_disney_df.set_index('IdDirector', inplace=True)
strip_directors_disney_df

                             Director
IdDirector
0                Alonso Ramirez Ramos
1                         Dave Wasson
2                         John Cherry
3                        Karen Disher
4                     Hamish Hamilton
...                               ...
631         Elizabeth Allen Rosenbaum
632                        Gavin Hood
633                   Dexter Fletcher
634                   Gurinder Chadha
635                       Mark Waring

[636 rows x 1 columns]

In [49]:
#Se quitan los espacios en blanco, se llenan los valores vacíos con la frase 'Sin Dato' y se crea una tabla con los distintos actores en la plataforma Disney+

disney_plus_titles.cast = disney_plus_titles.cast.str.strip()
disney_plus_titles.cast = disney_plus_titles.cast.fillna('Sin Dato')

all_disney_cast = []

for disney_cast in disney_plus_titles.cast:
    splited_disney_cast = disney_cast.split(',')
    for splited_disney in splited_disney_cast:
        all_disney_cast.append(splited_disney.strip())
        
all_disney_cast = pd.Series(all_disney_cast)
all_disney_cast = pd.unique(all_disney_cast)
all_disney_cast_df = pd.DataFrame({'IdActor': np.arange(len(all_disney_cast)), 'Actor Name': all_disney_cast})
all_disney_cast_df.set_index('IdActor', inplace=True)
all_disney_cast_df

                   Actor Name
IdActor
0        Chris Diamantopoulos
1                Tony Anselmo
2             Tress MacNeille
3                 Bill Farmer
4                Russi Taylor
...                       ...
3750          Parminder Nagra
3751     Jonathan Rhys-Meyers
3752              Anupam Kher
3753           Archie Panjabi
3754            Shaznay Lewis

[3755 rows x 1 columns]

In [55]:
#Se cambia el formato de la columna 'date_added' a datetime

disney_plus_titles.date_added = pd.to_datetime(disney_plus_titles.date_added)
disney_plus_titles.date_added

0      2021-11-26
1      2021-11-26
2      2021-11-26
3      2021-11-26
4      2021-11-25
          ...
1445   2021-06-04
1446   2021-04-02
1447   2020-12-18
1448   2020-09-18
1449   2020-04-01
Name: date_added, Length: 1450, dtype: datetime64[ns]

In [61]:
#Nos damos cuenta de que la columna release_year no tiene ningún valor faltante

disney_plus_titles.release_year.isna().sum()

0

In [64]:
#Se cambia el año de salida de la película/serie en cuestión a string

disney_plus_titles.release_year = disney_plus_titles.release_year.astype(str)
disney_plus_titles.dtypes

show_id                  int32
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year            object
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [81]:
#Se quitan los espacios y se crea una tabla con los distintos géneros de películas y series en Disney+

disney_plus_titles.listed_in = disney_plus_titles.listed_in.str.strip()

all_listed_in_disney = []

for listed in disney_plus_titles.listed_in:
    splited_listed_disney = listed.split(',')
    for all_listed in splited_listed_disney:
        all_listed_in_disney.append(all_listed.strip())

all_listed_in_disney = pd.Series(all_listed_in_disney)
all_listed_in_disney = pd.unique(all_listed_in_disney)
all_listed_in_disney_df = pd.DataFrame({'IdGenre': np.arange(len(all_listed_in_disney)), 'Genre': all_listed_in_disney})
all_listed_in_disney_df.set_index('IdGenre', inplace=True)
all_listed_in_disney_df

                           Genre
IdGenre
0                      Animation
1                         Family
2                         Comedy
3                        Musical
4                     Docuseries
5                     Historical
6                          Music
7                   Biographical
8                    Documentary
9               Action-Adventure
10                     Superhero
11                       Reality
12                      Survival
13              Animals & Nature
14                          Kids
15                 Coming of Age
16                         Drama
17                       Fantasy
18                     Lifestyle
19                        Movies
20               Science Fiction
21                  Concert Film
22                         Crime
23                        Sports
24                     Anthology
25                       Medical
26                       Variety
27                 Spy/Espionage
28                         Buddy
29                        Parody
30       Game Show / Competition
31                       Romance
32                         Anime
33               Romantic Comedy
34                      Thriller
35                    Police/Cop
36                     Talk Show
37                       Western
38                         Dance
39                        Series
40                       Mystery
41        Soap Opera / Melodrama
42                      Disaster
43                        Travel

In [83]:
#Comienzo a trabajar con el dataframe de Hulu viendo la cantidad de nulos que poseen las columnas

hulu_titles.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [106]:
#Longitud del dataframe de hulu

len(hulu_titles)

3073

In [91]:
#Se quitan las 's' de la columna 'show_id'

hulu_titles.show_id = np.arange(1,(3074))
hulu_titles.show_id

0          1
1          2
2          3
3          4
4          5
        ...
3068    3069
3069    3070
3070    3071
3071    3072
3072    3073
Name: show_id, Length: 3073, dtype: int32

In [94]:
#Distribución de la columna 'type'

hulu_titles.type.value_counts()

TV Show    1589
Movie      1484
Name: type, dtype: int64

In [100]:
#Se capitaliza la columna titles de la columna 'title'

hulu_titles.title = hulu_titles.title.str.title()
hulu_titles.title

0       Ricky Velez: Here'S Everything
1                         Silent Night
2                         The Marksman
3                                 Gaia
4                             Settlers
                     ...
3068    Star Trek: The Original Series
3069                Star Trek: Voyager
3070                         The Fades
3071                 The Twilight Zone
3072               Tokyo Magnitude 8.0
Name: title, Length: 3073, dtype: object

In [104]:
hulu_titles.director = hulu_titles.director.fillna('Sin Dato')
hulu_titles.director.value_counts()

Sin Dato                                                                                                                                                                      3070
Director Jennifer Kent ("The Babadook") tells the sweeping tale of a young woman's quest for revenge set in 1825 against the perilous and unforgiving terrain of Tasmania.       1
Director Gigi Saul Guerrero talks through Culture Shock’s themes – immigration, filmmaking, and latinidad – in this one-on-one chat.                                             1
Director Alex Winter goes inside the biggest global corruption scandal in history that was uncovered by hundreds of journalists, working in secret and at enormous risk.         1
Name: director, dtype: int64