In [314]:
import pandas as pd
import numpy as np

In [315]:
#Carga de Datasets
amazon_titles_df = pd.read_csv('Datasets/amazon_prime_titles.csv',skipinitialspace = True)
disney_plus_titles = pd.read_csv('Datasets/disney_plus_titles.csv')
hulu_titles = pd.read_csv('Datasets/hulu_titles.csv')
netflix_titles = pd.read_json('Datasets/netflix_titles.json')

In [316]:
#Limpieza de del Dataset de titulos de Amazon

print(amazon_titles_df.isna().sum()) #Cantidad de nulos por columna
print('')
print('Longitud Dataframe: ',len(amazon_titles_df))

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

Longitud Dataframe:  9668

In [317]:
#Se quita el caracter 's' de la columna id, dejando solo números.

amazon_titles_df['show_id'] = amazon_titles_df['show_id'].apply(lambda x: x.split('s')[1])

In [318]:
#Vemos cuales son los valores que pueden llegar a aparecer en la columna 'type'

amazon_titles_df.type.value_counts()

Movie      7814
TV Show    1854
Name: type, dtype: int64

In [319]:
amazon_titles_df.title = amazon_titles_df.title.str.title()

In [320]:
#Creacion de una tabla con todos los directores y su respectivo ID

amazon_titles_df.director.fillna('Sin Dato', inplace=True)

all_directors = []

for directors in amazon_titles_df.director:
    directors_split = directors.split(',')
    for splited_directors in directors_split:
        all_directors.append(splited_directors)

all_directors = pd.Series(all_directors)
all_directors = pd.unique(all_directors)
all_directors_df = pd.DataFrame({'IdDirector': np.arange(len(all_directors)), 'Director Name': all_directors})
all_directors_df.set_index('IdDirector',inplace=True)
all_directors_df

                 Director Name
IdDirector
0                 Don McKellar
1                 Girish Joshi
2                  Josh Webber
3               Sonia Anderson
4                 Giles Foster
...                        ...
6272           Lori Silverbush
6273        John-Paul Davidson
6274           Stephen Warbeck
6275                Emily Skye
6276              Steve Barker

[6277 rows x 1 columns]

In [405]:
#Creacion de una tabla con todos los actores y su respectivo ID

amazon_titles_df.cast = amazon_titles_df.cast.str.strip()
amazon_titles_df.cast = amazon_titles_df.cast.str.title()
amazon_titles_df.cast = amazon_titles_df.cast.replace(np.nan,'Sin Dato')

all_cast = []

for cast in amazon_titles_df.cast:
    splited_cast = cast.split(',')
    for complete_cast in splited_cast:
        all_cast.append(complete_cast)

all_cast = pd.Series(all_cast)
all_cast = pd.unique(all_cast)
all_cast_df = pd.DataFrame({'IdActor': np.arange(len(all_cast)), 'Actor Name': all_cast})
all_cast_df.set_index('IdActor', inplace=True)
all_cast_df

                   Actor Name
IdActor
0             Brendan Gleeson
1               Taylor Kitsch
2              Gordon Pinsent
3            Mahesh Manjrekar
4               Abhay Mahajan
...                       ...
33825            Rita Cortese
33826          Laura Esquivel
33827         Nicolás Furtado
33828     Nicolas Goldschmidt
33829           Joseph Gilgun

[33830 rows x 1 columns]

In [325]:
#Cambio de tipo de la columna a datetime

amazon_titles_df['date_added'] = pd.to_datetime(amazon_titles_df['date_added'])
amazon_titles_df['date_added']

0      2021-03-30
1      2021-03-30
2      2021-03-30
3      2021-03-30
4      2021-03-30
          ...
9663          NaT
9664          NaT
9665          NaT
9666          NaT
9667          NaT
Name: date_added, Length: 9668, dtype: datetime64[ns]

In [401]:
#Creacion de columna de generos de cine con sus respectivos ID

all_listed_in = []

for genre in amazon_titles_df.listed_in:
    separed_genre = genre.split(',')
    for all_genres_separed in separed_genre:
        all_listed_in.append(all_genres_separed)

all_listed_in = pd.Series(all_listed_in)
all_listed_in = pd.unique(all_listed_in)
all_listed_in_df = pd.DataFrame({'IdGenre': np.arange(len(all_listed_in)), 'Genre': all_listed_in})
all_listed_in_df['Genre'] = all_listed_in_df['Genre'].str.strip()
all_listed_in_df.drop_duplicates(subset=['Genre'], inplace=True)
all_listed_in_df.IdGenre = np.arange(len(all_listed_in_df))
all_listed_in_df.set_index('IdGenre', inplace=True)
all_listed_in_df

                             Genre
IdGenre
0                           Comedy
1                            Drama
2                    International
3                           Action
4                         Suspense
5                      Documentary
6                          Fantasy
7                             Kids
8                 Special Interest
9                  Science Fiction
10                       Adventure
11                          Horror
12                          Sports
13           Talk Show and Variety
14                           Anime
15                            Arts
16                   Entertainment
17                     and Culture
18                        TV Shows
19                       Animation
20       Music Videos and Concerts
21                         Fitness
22          Faith and Spirituality
23                Military and War
24                         Western
25                           LGBTQ
26                         Romance
27                      Unscripted
28            Young Adult Audience
29                        Arthouse
30                      Historical

In [399]:
#Total de nulos después de la limpieza de datos de el primer .csv

amazon_titles_df.isna().sum()

show_id            0
type               0
title              0
director           0
cast               0
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [403]:
#Comienzo a trabajar con el dataset de Disney+ viendo la cantidad de nulos que posee cada columna

disney_plus_titles.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [413]:
#Se limpia la columna show_id quitandole la 's' a los números

disney_plus_titles.show_id = np.arange(1,(len(disney_plus_titles)+1))

In [418]:
#Distribución de la columna 'type'

disney_plus_titles.type.value_counts()

Movie      1052
TV Show     398
Name: type, dtype: int64